
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #111;
  color: white;
  line-height: 1.6;
}

a {
  color: white;
  text-decoration: none;
}

h3 {
  margin-bottom: 20px;
}

.txt-project{
    color: #ff7f50;
    font-weight: 1000px;
}

header {
  background: rgb(30,30,29);
  padding: 20px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 75px;
}

nav a {
  margin-left: 20px;
}


.hero {
  text-align: center;
  padding: 60px 20px;
}

.avatar-container {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  background:linear-gradient(346deg, rgba(154, 51, 255, 1) 22%, rgba(212, 109, 78, 1)50%);
}


.highlight {
    background: linear-gradient(346deg, rgba(154, 51, 255, 1) 22%, rgba(212, 109, 78, 1)50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.buttons {
  margin-top: 20px;
}

.btn {
  margin: 10px;
  padding: 12px 25px;
  border: none;
  background: white;
  color: black;
  cursor: pointer;
  border-radius:25px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #060505;
  color: white;
  transform: scale(1.05);
}


.skills {
  padding: 40px 20px;
  text-align: center;
}

.icons img {
  width: 40px;
  margin: 10px;
}


.projects {
  padding: 40px 20px;
  text-align: center;
}

.project-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background: #222;
  padding: 15px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card a {
  color:white;
  font-size: smaller;
  font-weight: lighter;
  margin-right: 130px;
  margin-top: 0px;
}
.card p {
  color:white;
  font-size: medium; 
  font-weight: bolder;
  margin-right: 130px;
  margin-top: 3px;

}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  border-radius: 8px;
}




.experience {
  padding: 40px 20px;
}

.txt-experience{
    color: #584bc6;
    font-weight: 1000px;
    text-align: center;
    display: inline-block;
}

.experience-item h3 {
  margin-left: 10px;
  display: inline;


}

.job {
  background: #1c1c1c;
  margin: 15px 0;
  padding: 15px;
  border-left: 4px solid #ff7f50;
}


footer {
  background: rgb(30,30,29);
  padding: 30px;
  text-align: center;
}

.socials a {
  margin: 0 10px;
}


@media (max-width: 768px) {
  header .container {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    margin-top: 10px;
  }

  .project-cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    max-width: 350px;
  }

  .buttons {
    flex-direction: column;
    align-items: center;
  }

  .btn {
    width: 80%;
    max-width: 300px;
  }
}


.footer-img{
  margin-right: 7px;
  margin-top: 10px;
}

.social-icons {
  display: flex;
  justify-content: start;
  gap: 20px;
  margin-top: 10px;
}

.container-footer{
  display: flex;
  justify-content:  center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}